body{
    display:flex;
    flex-direction: column;
    margin: 0px;
    font-family: fantasy;
    gap:50px;
    background-color: crimson;
}

    button{
        font-family: fantasy;
        text-align: center;
        padding-top: 4px;
        border-radius: 8px;
        border: solid 2px black
    }

    .header-container{
        display:flex;
        justify-content: center;
        background-color: crimson;
        color: white;
    }

    .page-container{
        display:flex;
        justify-content: center;
        gap:10%;
        flex:1;
        margin-top: 3%;
        margin-bottom:7%
    }

        .grid-controls{
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

        }

        #grid-container{
            border: 3px black solid;
            background-color: white;
            margin:4px;
            display:flex;
            width: 400px;
            height: 400px;
            flex-wrap: wrap;
            flex-direction: row;
        }

    
    .footer-container{
            text-align: center;
            background-color: crimson;
            color: white;
    }


