body{
    display:flex;
    flex-direction: column;
    margin: 0px;
    font-family: fantasy, hebrew, sans-serif, Arial, Helvetica;
    background-color: grey;
}

    button{
        color: goldenrod;
        background-color:crimson;
        font-family: fantasy;
        text-align: center;
        padding-top: 4px;
        border-radius: 8px;
        border: solid 2px white;
    }

    .header-container{
        display:flex;
        justify-content: flex-start;
        padding-left: 20px;;
        background-color: grey;
        color: white;
    }

    .page-container{
        display:flex;
        justify-content: center;
        gap:10%;
        flex:1;
        margin-top: 1%;
        margin-bottom:2%
    }

        .grid-controls{
            background-color: white;
            border: 2px crimson solid;
            border-radius: 10px;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        #grid-frame{
            border: 1px black solid;
            border-radius: 10px;
            background-color: crimson;
            display:flex;
            flex-direction: column;
            align-items:center;
            justify-content: flex-end;
            padding:0px;
            width: 600px;
            height:550px;
        }        

            #frame-header{
                display:flex;
                align-items: center;
                height: 70px;
                width:600px;
                margin: 0px;
                color: goldenrod;
                font-size: 20px;
                text-align: center;
                justify-content: center;
            }

            #grid-container{
                border: 1px black solid;
                border-radius: 10px;
                background-color: rgb(255, 255, 255);
                margin:0px;
                display:flex;
                width: 400px;
                height: 400px;
                flex-wrap: wrap;
                flex-direction: row;
            }

            #toggles{
                display:flex;
                height:70px;
                width: 600px;
                justify-content: space-between;
                align-items: center;
            }

                .circle{
                    background-color: white;
                    height:70px;
                    width:70px;
                    border-radius: 50%;
                    margin: 20px;
                }

    
    .footer-container{
        margin: 0px;
            text-align: center;
            background-color: grey;
            color: white;
    }


